<!-- <app-login></app-login> -->
<!-- <app-article></app-article> -->
<!-- <app-practice1></app-practice1> -->

<!-- <app-practice2></app-practice2> -->
<!-- <app-practice3></app-practice3> -->
<!-- <app-signup></app-signup>
  -->
<a routerLink="login/:">登入</a>&nbsp;
<a routerLink="signup/:id/:id2" [queryParams]="{'account':'222','id2':'1'}">註冊</a>&nbsp;
<a routerLink="practice2">練習2</a>&nbsp;
<a routerLink="practice3">練習3</a>&nbsp;
<a routerLink="article">前往文章</a>&nbsp;
<a routerLink="articleoverview">前往articleoverview</a>&nbsp;
<a routerLink="homepage">前往homepage</a>&nbsp;
<!-- <button (click)="goLogin()">前往登入</button>
<button (click)="goSignUP()">前往註冊</button>
<button (click)="goArticle()">前往文章</button>
<p-button label="Primary" [rounded]="true"></p-button>
<p-button label="Secondary" [rounded]="true" severity="secondary"></p-button>
<p-button label="Success" [rounded]="true" severity="success"></p-button>
<p-button label="Info" [rounded]="true" severity="info"></p-button>
<p-button label="Warning" [rounded]="true" severity="warning"></p-button>
<p-button label="Help" [rounded]="true" severity="help"></p-button>
<p-button label="Danger" [rounded]="true" severity="danger"></p-button>
 -->
<!-- <app-homepage></app-homepage> -->
<!-- <app-home></app-home> -->

<router-outlet></router-outlet>
