<form [formGroup]="userForm">
  <p>帳號 :</p>
  <input formControlName="account">
  <p *ngIf="userForm.get('account')?.touched && userForm.get('account')?.dirty " style="color:red">
    請輸入帳號！！！
  </p>
  <p>密碼 :</p>
  <input formControlName="password">
  <p>地址 :</p>
<input formControlName="addressInput"/>
  <div formGroupName="info">
    <p>個人資訊 :</p>
    <p>年齡</p>
    <input formControlName="age">
    <p>身高</p>
    <input formControlName="tall">
  </div>

  <br>

  <!-- <span>地址</span><button (click)="addFormArray()">新增地址</button>
  <button (click)="removeFormArray()">移除地址</button>
  <div formArrayName="address">
    <div *ngFor="let item of getUserFormAddressFormArray(); let i =index">
      <input [formControlName]="i">
    </div>
  </div> -->


  <span>地址</span>
  <button (click)="addFormArray()">新增地址</button>
<div formArrayName="address">
  <div *ngFor="let item of getUserFormAddressFormArray(); let i = index">
    <input [formControlName]="i">
    <button type="button" (click)="removeFormArray(i)">移除</button>
  </div>
</div>
<button [disabled]="userForm.invalid" (click)="submit()">submit</button>
<button (click)="reset()">reset</button>
<button (click)="removeAllAddresses()">删除全部地址</button>
</form>

<p>valid:{{userForm.get('account')?.valid}}</p>
<p>errors:{{userForm.get('account')?.errors | json}}</p>
<!-- | json 將OBJECT改成JSON顯示-->
<!-- /touched 是失焦時，若有碰過輸入值 算true/ -->
 <!-- /dirty 是更改過值，算true/ -->
<p>touched:{{userForm.get('account')?.touched}}</p>
<p>dirty:{{userForm.get('account')?.dirty}}</p>
