<div class="container">
  <!-- 文章展示區域 -->
  <div class="article-section">
    <h1>{{ articleTitle }}</h1>
    <div class="article-meta">
      <span>{{ articleDate }}</span>
      <span>{{ articleViews }} 觀看</span>

    </div>
    <div class="author-section">
      <span class="author-name">{{ authorName }}</span>
      <span class="author-info">{{ authorFollowers }} 粉絲 · {{ authorArticles }} 文章</span>
      <button (click)="followAuthor()" class="follow-button">+ 關注</button>
    </div>
    <div class="article-image">
      <img [src]="articleImage" alt="Article Image" />
    </div>
    <div class="article-content">
      <p>{{ articleContent }}</p>
    </div>
    <div>
      <span><button (click)="likes()" class="btn btn-sho"><i class="fa fa-thumbs-up"></i>{{ articleLikes }} 點讚</button></span>
      <span>{{ articleComments }} 評論</span>
    </div>
  </div>

  <!-- 列表區域 -->
  <div class="article-list-section">
    <app-article-list></app-article-list>
  </div>
  <!-- 評論區域 -->
  <div class="comments-section">
    <app-comment-list></app-comment-list>
  </div>
  <!--文章新增介面 -->
  <div class="article-post-section">
    <app-article-post></app-article-post>
  </div>
  <div class="article-post-section">
    <app-loginta></app-loginta>
  </div>
</div>
