<form [formGroup]="userForm">

</form>


<div class="card">
  <p-tabView>
      <p-tabPanel header="Header I">
          <p>
              Lorem ipsum dolor sit amet, consectetur
          </p>
      </p-tabPanel>
      <p-tabPanel header="Header II">
          <p>
              Sed ut perspiciatis unde omnis iste natus error
          </p>
      </p-tabPanel>
      <p-tabPanel header="Header III">
          <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          </p>
      </p-tabPanel>
      <p-tabPanel [disabled]="true" header="Header IV"> </p-tabPanel>
  </p-tabView>
</div>
<br>
<div class="flex flex-wrap gap-3">
  <div class="flex align-items-center">
      <p-radioButton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
      <label for="ingredient1" class="ml-2">Cheese</label>
  </div>

  <div class="flex align-items-center">
      <p-radioButton name="pizza" value="Mushroom" [(ngModel)]="ingredient" inputId="ingredient2"></p-radioButton>
      <label for="ingredient2" class="ml-2">Mushroom</label>
  </div>

  <div class="flex align-items-center">
      <p-radioButton name="pizza" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3"></p-radioButton>
      <label for="ingredient3" class="ml-2">Pepper</label>
  </div>

  <div class="flex align-items-center">
      <p-radioButton name="pizza" value="Onion" [(ngModel)]="ingredient" inputId="ingredient4"></p-radioButton>
      <label for="ingredient4" class="ml-2">Onion</label>
  </div>
</div>
<br>
------------
<!-- ---- -->
<div class="card flex justify-content-center">
  <p-dropdown [options]="groupedCities" [(ngModel)]="selectedCity" placeholder="Select a City" [group]="true">
      <ng-template let-group pTemplate="group">
          <div class="flex align-items-center">
              <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
              <span>{{ group.label }}111111</span>
          </div>
      </ng-template>
  </p-dropdown>
</div>
<!-- ---- -->
<p-button label="reset">重製按鈕</p-button>
<button (click)="reset()">reset</button>
